<div class="page">
<mat-card>

  <div class="titulo">Listado de Estudiantes</div>

  <table mat-table [dataSource]="estudiantes" class="mat-elevation-z1">

    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let estudiante"> {{estudiante.nombre}} </td>
    </ng-container>

    <!-- Correo -->
    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let estudiante"> {{estudiante.correo}} </td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let estudiante">
        <button mat-icon-button color="primary" aria-label="Editar">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Eliminar">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Cabecera y contenido -->
    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>
</mat-card>
</div>



